# Lab | Customer Analysis Round 5

For this lab, we still keep using the `marketing_customer_analysis.csv` file that you can find in the `files_for_lab` folder.

### Get the data

We are using the `marketing_customer_analysis.csv` file.

### Dealing with the data

Already done in the round 2.

### Explore the data

Done in the round 3.

### Processing Data

(_Further processing..._)

- X-y split.
- Normalize (numerical).

In [1]:
import pandas as pd
import numpy as np

In [2]:
file = pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')
data = pd.DataFrame(file)

In [3]:
data.columns = data.columns.str.replace(" ","_")
data.columns = data.columns.str.lower()
data.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [4]:
Y = data['total_claim_amount']
data = data.drop(['total_claim_amount'], axis=1)

In [5]:
X_num = data.select_dtypes(include = np.number)
X_cat = data.select_dtypes(include = np.object)

In [6]:
from sklearn.preprocessing import Normalizer
transformer = Normalizer().fit(X_num)
x_normalized = transformer.transform(X_num)
pd.DataFrame(x_normalized)

             0         1         2         3         4         5         6
0     0.049049  0.998795  0.001225  0.000568  0.000089  0.000000  0.000018
1     0.999889  0.000000  0.013466  0.001862  0.006017  0.000000  0.001146
2     0.255494  0.966808  0.002141  0.000357  0.000753  0.000000  0.000040
3     0.999865  0.000000  0.013862  0.002354  0.008500  0.000000  0.000915
4     0.064055  0.997944  0.001662  0.000273  0.001002  0.000000  0.000023
...        ...       ...       ...       ...       ...       ...       ...
9129  0.309387  0.950935  0.000965  0.000238  0.001176  0.000000  0.000026
9130  0.141879  0.989876  0.003620  0.000641  0.001283  0.000000  0.000046
9131  0.999935  0.000000  0.010411  0.001102  0.004532  0.000367  0.000245
9132  0.324391  0.945913  0.004139  0.001466  0.000129  0.000000  0.000129
9133  0.998973  0.000000  0.029451  0.001147  0.034423  0.000000  0.000382

[9134 rows x 7 columns]

In [7]:
from sklearn.preprocessing import StandardScaler
transformer = StandardScaler().fit(X_num)
x_standardized = transformer.transform(X_num)
pd.DataFrame(x_standardized)

             0         1         2         3         4         5         6
0    -0.762878  0.612827 -0.703925  1.678099 -1.543287 -0.422250 -0.822648
1    -0.149245 -1.239617  0.022691 -0.208186 -0.217334 -0.422250  2.106160
2     0.710636  0.365710  0.429596  0.288205 -0.360680 -0.422250 -0.404247
3    -0.052263 -1.239617  0.371467  0.288205  0.606907 -0.422250  1.687759
4    -0.755575  0.203390 -0.587666 -0.307465 -0.145661 -0.422250 -0.822648
...        ...       ...       ...       ...       ...       ...       ...
9129  2.241590  1.128558 -0.587666  0.288205  1.466984 -0.422250 -0.404247
9130 -0.714411 -0.528450 -0.413278 -0.108908 -0.719046 -0.422250 -0.822648
9131  0.023135 -1.239617 -0.238891 -0.605299 -0.396517  2.873245 -0.404247
9132 -0.069935 -0.517356  0.080820  1.876656 -1.614960 -0.422250  0.014154
9133 -0.784955 -1.239617 -0.471408 -1.200968  1.502821 -0.422250 -0.822648

[9134 rows x 7 columns]